/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
/* rsuit */
@import url('./assets/css/main.css');
/* taiwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick slider css */
@import url('./assets/css/slick.min.css');
/* scroll */
@import url('./assets/css/scroll.css');
/* my css */

:root {
  --green: theme(colors.green);
  --gray: theme(colors.gray);
  --cyan: theme(colors.cyan);
  --white: theme(colors.white);
  --black: theme(colors.balck);
}

html {
  scroll-behavior: smooth;
}

.container {
  @apply m-auto px-5 bg-opacity-0;
}

.bg-hero {
  background-image: url('/public/img/hero-mobile.svg');
}
.bg-hero-rtl {
  background-image: url('/public/img/hero-rtl.svg');
}

@media (min-width: 1200px) {
  .bg-hero {
    background-image: url('/public/img/hero.svg');
  }
}

.home-testimonial .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
  position: relative;
}
.home-testimonial .slick-dots li button:before {
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  content: '•';
  text-align: center;
  opacity: 0.25;
  color: var(--gray);
  transform: translate(-50%, -50%);
}
.home-testimonial .slick-dots li button:hover:before,
.home-testimonial .slick-dots li button:focus:before {
  opacity: 0.5;
}
.home-testimonial .slick-dots li.slick-active button:before {
  color: var(--green);
  opacity: 1;
}

.home-testimonial .slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px 0px;
  padding: 0;
  cursor: pointer;
}
.home-testimonial .slick-dots {
  bottom: -3rem;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}
.home-testimonial .slick-initialized .slick-slide {
  border: 8px solid rgba(244, 244, 244);
}
.rs-rate-xs .rs-rate-character {
  width: 5px;
  font-size: 15px;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: inline;
}

.drawer-body .rs-drawer-body {
  padding: 0px;
}

.slider-custom .rs-tooltip {
  opacity: 1;
}
.slider-custom .rs-tooltip {
  display: block;
  top: -30px;
}

.slider-skills .rs-slider-handle::before {
  display: none;
}
.slider-skills .rs-slider-progress-bar {
  border-radius: 6px;
  background: var(--gray);
  opacity: 0.9;
}

.slider-skills .rs-slider-bar {
  height: 10px;
}
.slider-skills .rs-slider-progress-bar {
  height: 10px;
}

@keyframes scroll {
  0% {
    @apply bg-slate-200;
  }
  25% {
    @apply bg-slate-100;
  }
  50% {
    @apply bg-slate-50;
  }
  100% {
    @apply bg-white;
  }
}

.bouncebg {
  animation-name: scroll;
  animation-duration: 5s;
  animation-fill-mode: backwards;
  animation-iteration-count: 1;
}

.check-meth .rs-stack-item {
  justify-content: space-between;
}

.check-meth .rs-radio-tile-label {
  margin-top: 10px;
}
